<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
         backupGlobals="true"
         colors="true">
  <testsuites>
    <testsuite name="unit tests">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <report>
      <clover outputFile="clover.xml" />
    </report>
  </coverage>
</phpunit>
